.button {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    margin: 10px;
    border: none;
    background-color: rgba(43,43,43,0.99);
    font-family: Arial;
    color: white;
    font-size: 17px;
}

.button:hover {
    color: deepskyblue;
}