.Catalog {
    display: flex;
}

.ItemList {
    display: grid;
    grid-template-columns: auto auto auto;
}

.Item_element {
    width: 300px;
    height: 525px;
    margin: 10px;
    text-align: center;
    border: 1px solid black;

}

.Item_element:hover {
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
}

.ImageSlider {
    width: 250px;
    height: 250px;
    margin: 20px 10px 10px;
    border-radius: 10%;
}

.ImageSlider__imageContainer {
    display: flex;
    justify-content: space-around;
}

.ImageSlider__icon {
    cursor: pointer;
    margin: auto;
    padding: 2px;
    border: 1px solid black;
    border-radius: 100%;
}

.ImageSlider__icon:hover{
    color: deepskyblue;
}

.ImageSlider__dotsContainer {
    display: flex;
    justify-content: center;
}

.ImageSlider__dots {
    margin: 0 2px;
    font-size: 30px;
    cursor: pointer;
}

.ImageSlider__dots__selected {
    color: deepskyblue;
}


.Description__name {
    font-size: 23px;
}

.Description__content {
    display: flex;
    flex-direction: row;
}

.Description__element {
    width: 50%;
    text-align: left;
    font-size: 18px;
    margin: 5px;
}

.Filter__contend {
    width: 280px;
    height: 500px;
    margin-top: 10px;
    background: teal;
}

.Filter__inputBox {
    display: flex;
    justify-content: space-around;
}

.Filter__inputHeader {
    margin-top: 20px;
    margin-bottom: 7px;
    font-family: Arial;
    font-size: 1.2em;
    text-align: center;
}

.Filter__inputBox input[type=text] {
    height: 30px;
    width: 135px;
    font-size: 1.1em;
    border: 1px solid;
    border-radius: 5px;
}

.Filter__inputBox input[type=range] {
    width: 250px;
}

.Filter__rating {
    font-family: Arial;
    font-size: 1.2em;
    text-align: center;
}
