.Catalog {
    display: flex;
}

.ItemList {
    display: grid;
    grid-template-columns: auto auto auto;
}

.Item_element {
    width: 320px;
    height: 525px;
    margin: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
}

.Item_element:hover {
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
}

.ImageSlider {
    width: 250px;
    height: 250px;
    margin: 20px 10px 10px;
    border-radius: 10%;
}

.ImageSlider__imageContainer {
    display: flex;
    justify-content: space-around;
}

.ImageSlider__icon {
    cursor: pointer;
    margin: auto;
    padding: 2px;
    border: 1px solid black;
    border-radius: 100%;
}

.ImageSlider__icon:hover{
    color: deepskyblue;
}

.ImageSlider__dotsContainer {
    display: flex;
    justify-content: center;
}

.ImageSlider__dots {
    margin: 0 2px;
    font-size: 30px;
    cursor: pointer;
}

.ImageSlider__dots__selected {
    color: deepskyblue;
}


.Description__name {
    font-size: 23px;
}

.Description__content {
    display: flex;
    flex-direction: row;
}

.Description__element {
    width: 50%;
    text-align: left;
    font-size: 18px;
    margin: 5px;
}

.CategoruMenu {
    width: 250px;
    height: auto;
    min-height: 100px;
    max-height: 1000px;
    background: rgba(43,43,43,0.99);
    border-bottom-right-radius: 15px;
}

.CategoryHeader {
    text-align: center;
    font-size: 25px;
    color: white;
    background-color: teal;
}

.CategoryElement {
    text-align: left;
    font-size: 20px;
    color: white;
    padding: 5px;
}

.CategoryElement:hover {
    background-color: deepskyblue;
}

.CategoryBack {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    width: 200px;
    height: 35px;
    background-color: red;
    color: white;
    border: 1px solid red;
    border-radius: 10px;
}

.CategoryList {
    text-align: left;
    font-size: 20px;
    color: black;
    width: 800px;
    height: 30px;
    margin: 10px;
}





