.Catalog {
    display: flex;
}

.ItemList {
    display: grid;
    grid-template-columns: auto auto auto;
}

.Item_element {
    width: 275px;
    height: 525px;
    margin: 10px;
    text-align: center;
    border-radius: 25px;
}

.Item_element:hover {
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
}

.ImageSlider {
    width: 250px;
    height: 250px;
    margin: 20px 10px 10px;
    border-radius: 10%;
}

.ImageSlider__imageContainer {
    display: flex;
    justify-content: space-around;
}

.ImageSlider__icon {
    cursor: pointer;
    margin: auto;
}

.ImageSlider__icon:hover{
    color: deepskyblue;
}

.ImageSlider__dotsContainer {
    display: flex;
    justify-content: center;
}

.ImageSlider__dots {
    margin: 0 2px;
    font-size: 30px;
    cursor: pointer;
}

.ImageSlider__dots__selected {
    color: deepskyblue;
}


.Description__name {
    font-size: 23px;
}

.Description__content {
    display: flex;
    flex-direction: row;
}

.Description__element {
    width: 50%;
    text-align: left;
    font-size: 18px;
    margin: 5px;
}

.button {
    width: 200px;
    border-radius: 30px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: rgba(43,43,43,0.99);
    font-family: Arial;
    color: white;
    font-size: 17px;
}

.button:hover {
    color: deepskyblue;
}


.Filter__contend {
    width: 290px;
    height: 570px;
    margin: 10px;
    border-radius: 15px;
    background: teal;
    border: 1px solid;
}

.Filter__contend:hover {
    box-shadow: 7px 7px 17px 7px rgba(0, 0, 0, 0.5);
}

.Filter__inputBox {
    display: flex;
    justify-content: space-around;
}

.Filter__Header {
    margin-top: 20px;
    margin-bottom: 7px;
    font-family: Arial;
    font-size: 1.2em;
    text-align: center;
}

.Filter__inputBox input[type=text] {
    height: 30px;
    width: 135px;
    font-size: 1.1em;
    border: 1px solid;
    border-radius: 5px;
}

.Filter__inputBox input[type=range] {
    width: 250px;
}

.Filter__rating {
    font-family: Arial;
    font-size: 1.2em;
    text-align: center;
}

.Filter__button_space {
    display: flex;
    justify-content: center;
}

.Filter__button_search {
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 0.9em;
    background-color: forestgreen;
    cursor: pointer;
}
.Filter__button_reset {
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 0.9em;
    background-color: rgb(164, 20, 20);
    cursor: pointer;
}

.Filter__button_search:hover {
    background-color: #2fd52f;
}

.Filter__button_reset:hover {
    background-color: rgb(232, 26, 26);
}

.Ordering__content {
    margin-top: 15px;
    margin-bottom: 15px;
}

.Ordering__content_box {
    margin: 5px;
    font-family: Arial;
    font-size: 0.9em;
    text-align: left;
    margin-left: 25px;
}

.Ordering__content_box input {
    margin-right: 10px;
}

.Shop__dropdown {
    margin-left: 39px;
    text-align: center;
    position: relative;
    display: inline-block;
}

.Shop__dropdown_content li {
    list-style-type: none;
    font-family: Arial;
    font-size: 0.9em;
}

.Shop__dropdown_content li:hover {
    color: deepskyblue;
}

.Shop__dropdown_content {
    display: none;
    width: auto;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid;
    min-width: 200px;
    box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.4);
    border-radius: 10px;
    font-size: 1.3em;
    padding: 12px 16px;
    z-index: 1;
}

.Shop__dropdown:hover .Shop__dropdown_content {
    display: block;
}

.Shop__current_shop {
    min-width: 200px;
    font-family: Arial;
    font-size: 1.2em;
    text-align: center;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
}

.Selected__cat {
    background-color: white;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: Arial;
    font-size: 1.2em;
}

.SelectCat {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    font-family: Arial;
    font-size: 1.2em;
    background-color: rgb(164, 20, 20);
    cursor: pointer;
}

.SelectCat:hover {
    background-color: rgb(232, 26, 26);
}

